.gradle
/local.properties
/.idea/workspace.xml
.idea/.name
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/appcompat_v7_21_0_3.xml
.idea/libraries/cardview_v7_21_0_3.xml
.idea/libraries/recyclerview_v7_21_0_3.xml
.idea/libraries/support_annotations_21_0_3.xml
.idea/libraries/support_v4_21_0_3.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
app/app.iml
.DS_Store
/build
