<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thejakeofink.mountainviewgirlscamp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/girls_camp_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FlickrPhotoAlbumActivity"
            android:label="@string/app_name" />
        <activity android:name=".InitialPageActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PhotoAlbumActivity"
            android:label="@string/title_activity_photo_album" />
        <activity
            android:name=".PhotoActivity"
            android:label="@string/title_activity_photo" >
        </activity>
        <activity
            android:name=".StudyGuideActivity"
            android:label="@string/title_activity_study_guide" >
        </activity>
        <activity
            android:name=".StudyGuideSelectActivity"
            android:label="@string/title_activity_study_guide_select" >
        </activity>
        <activity
            android:name=".TriviaGameActivity"
            android:label="@string/title_activity_trivia_game" >
        </activity>
    </application>

</manifest>
